Source: ros-melodic-volta-teleoperator
Section: misc
Priority: optional
Maintainer: Mahendra L Seervi <mahendra.l@botsync.co>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib-msgs, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-sensor-msgs, ros-melodic-teleop-twist-joy, ros-melodic-teleop-twist-keyboard, ros-melodic-volta-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-volta-teleoperator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib-msgs, ros-melodic-geometry-msgs, ros-melodic-sensor-msgs, ros-melodic-teleop-twist-joy, ros-melodic-teleop-twist-keyboard, ros-melodic-volta-msgs
Description: The volta_teleoperator package
